rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Allow public read/write access specifically to the eml folder.
    match /eml/{allPaths=**} {
      allow read, write;
    }

    // Allow public read/write access specifically to the taskphotos folder.
    match /taskphotos/{allPaths=**} {
      allow read, write;
    }
  }
}
